body {
	color: #999;
	padding-top: 50px;
}
input {
	background: #444;
	color: white;
	border: 1px solid black;
}
select {
	font-size: 12pt;
}
#main-app {
	position: relative;
}
.clear {
	clear: both;
}
.top-nav {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	height: 40px;
	background: #111;
	padding-top: 7px;
}
.tool-palette {
	position: fixed;
	top: 40px;
	bottom: 40px;
	width: 30px;
	left: 0;
	background: #222;
}
.tool-palette .btn, .tool-palette .toolbar-icon, .tool-palette input {
	cursor: pointer;
}
.tool-palette .btn.selected {
	background: #333;
}
.left-nav {
	position: fixed;
	top: 40px;
	bottom: 40px;
	left: 40px;
	width: 300px;
	background: #222;
	transition: all .25s ease-out;
	overflow: scroll;
}
.right-nav {
	position: fixed;
	top: 40px;
	bottom: 40px;
	right: 0;
	width: 300px;
	background: #222;
	transition: all .25s ease-out;
	overflow: scroll;
}
.footer-nav {
	position: fixed;
	bottom: 0;
	left: 0;
	right: 0;
	height: 40px;
	background: #111;
	padding: .5em;
}
.context-controls {
	position: fixed;
	right: 300px;
	bottom: 40px;
	height: 40px;
	left: 330px;
	background: #222;
	padding: 3px;
	transition: all .25s ease-out;
}
.main-stage {
	position: fixed;
	top: 240px;
	bottom: 80px;
	left: 300px;
	right: 300px;
	background: #333;
	overflow: scroll;
	transition: all .25s ease-out;
}
.main-stage .contents {
	width: 100%;
	height: 100%;
	position: relative;
}
.main-stage .stage {
	background: white;
	border: 1px solid black;
	display: inline-block;
	margin-top: 2em;
}
.timeline-controls {
	position: fixed;
	top: 210px;
	height: 30px;
	background: #222;
	transition: all .25s ease-out;
}
.timeline {
	position: fixed;
	top: 40px;
	height: 170px;
	left: 300px;
	right: 300px;
	overflow: scroll;
	background: #444;
	background-repeat: repeat;
  	background-size: 10px 1px;
	transition: all .25s ease-out;
}
.timeline .scurbber {
	min-height: 30px;
	width: 100%;
	background: red;
}
.timeline-layer {
	border: 1px solid #888;
	position: relative;
	height: 25px;
	border-bottom: none;
}
.timeline-layer .layer-details {
	background: #777;
	color: #EEE;
	width: 200px;
	height: 100%;
	margin: 0;
	display: inline-block;
	position: absolute;
	padding: 2px 4px;
}
.timeline-layer.selected .layer-details {
	background: #666;
	color: #FFF;
}
.timeline-layer .layer-color {
	display: inline-block;
	border: 1px solid rgba(0, 0, 0, .5);
	width: 15px;
	height: 15px;
	margin-top: 2px;
    position: absolute;
	right: 5px;
	pointer-events: none;
    border-radius: 50%;
}
.timeline-layer .keyframes {
	width: 100%;
	height: 100%;
	background: url(../images/timeline-grid.svg);
	background-repeat: repeat;
  	background-size: 50px 1px;
	display: inline-block;
	position: absolute;
	left: 200px;
}
.timeline-layer .color-selector {
	width: 22px;
	float: right;
	opacity: 0;
}
.actions-layer {
	background: #DDD;
	position: relative;
}
.actions-layer .keyframes {
	border: 1px solid #999;
	border-bottom: none;
}
.actions-layer .layer-details, .scrubber .layer-details {
	background: #BBB;
	color: #222;
	width: 200px;
	height: 100%;
	margin: 0;
	display: inline-block;
	padding: 2px 4px;
}
.scrubber .layer-details {
	background: #444;
}
.actions-layer .keyframes, .scrubber .keyframes {
	width: 100%;
	height: 100%;
	background: url(../images/actions-grid.svg);
	background-repeat: repeat;
  	background-size: 50px 1px;
	display: inline-block;
	position: absolute;
	left: 200px;
}
.scrubber .keyframes {
	background: none;
}
.navbar-panel {
	border: 1px solid #555;
}
.navbar-panel .title {
	background: #444;
	cursor: pointer;
	padding: 3px 10px;
}
.navbar-panel .title:active, .navbar-panel .title:hover {
	color: #EEE;
	background: #333;
}
.navbar-panel .controls {
	min-height: 200px;
	width: 112%;
	background: #333;
	overflow: scroll;
}
.navbar-panel .glyphicon-play {
	transition: all .25s ease-out;
}
.navbar-panel.is-open .glyphicon-play {
	transform: rotate(90deg);
}
.nav-container button.btn {
	margin: -2px;
    border-radius: 0;
    padding: 5px;
    height: 30px;
	width: 30px;
	color: #DDD;
	background: #555;
	border-color: #444;
}
.nav-container button.btn:active {
	color: #EEE;
	background: #444;
	border-color: #222;
}

.nav-container .btn:focus {
	outline: 0;
}
.scrubber {
	position: relative;
}
.scrubber .handle {
	height: 25px;
	width: 10px;
	border: 1px solid yellow;
	background: rgba(255, 255, 0, .33);
	position: absolute;
	left: 200px;
	top: 0;
	cursor: pointer;
	pointer-events: none;

	border-left: 5px solid transparent;
	border-right: 5px solid transparent;
	border-top: 20px solid #FF0;
}
.glyphicon-rectangle {
	display: inline-block;
	width: 15px;
	height: 15px;
	border: 2px solid #DDD;
}
.glyphicon-circle {
	display: inline-block;
	width: 15px;
	height: 15px;
	border: 2px solid #DDD;
	border-radius: 50%;
}
.glyphicon-line {
	border-bottom: 2px solid #DDD;
	transform: translateY(-8px) rotate(-45deg);
	width: 20px;
}
.toolbar-icon {
	padding: 8px 0 3px 0;
}
.null-color {
	background: white;
	width: 20px;
	height: 20px;
	margin-left: 5px;
	margin-bottom: 6px;
	margin-top: 4px;
	cursor: pointer;
}
.null-color .slash {
	display: inline-block;
	border-bottom: 3px solid red;
	width: 28px;
	transform: translateX(-4px) translateY(-3.5px) rotate(-45deg);
}
.frame-indicator {
	width: 2px;
	height: 30px;
	background: yellow;
	position: absolute;
	top: 0;
	left: 4px;
}
.nav-container button.play-button.playing {
	background: #333;
	color: white;
}
.nav-container button.pause-button.paused {
	background: #333;
	color: white;
}
.asset-item {
	margin-left: .5em;
	padding: .25em;
}
.item-icon {
	display: inline;
	margin-right: .25em;
}